@mixin font($font_name, $file_name, $weight, $style) {
    @font-face {
        font-family: $font_name;
        font-display: swap;
        src: url("./fonts/#{$file_name}.woff") format("woff"), url("./fonts/#{$file_name}.woff2") format("woff2");
        font-weight: #{$weight};
        font-style: #{$style};
    }
}
@include font("BebasNeuePro-BoldItalic", "BebasNeuePro-BoldItalic", "700", "normal");
@include font("OswaldItalic", "OswaldItalic", "700", "normal");
@include font("ArimoBoldItalic", "ArimoBoldItalic", "700", "normal");
@include font("MerelMedium", "MerelMedium", "700", "normal");
@include font("Arimo", "Arimo", "400", "normal");
@include font("ArimoBold", "ArimoBold", "700", "normal");
@include font("BebasBold", "BebasBold", "700", "normal");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,900;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&family=Roboto:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap");
