.footer {
    display: flex;
    justify-content: center;
    &__container {
        z-index: -2;
        background-color: #424362;
        display: flex;
        max-width: 3838px;
        flex: 0 1 100%;
        justify-content: flex-start;
        padding: 88px 0 134px 300px;
        @media (max-width: 2560px) {
            padding: 60.83px 0 82px 200px;
        }
    }
    &__body {
        max-width: 1577px;
        flex: 0 1 100%;
        display: flex;
        flex-direction: column;
    }
    &__img {
        margin-bottom: 61.7px;
        max-width: 380.76px;
        max-height: 77.3px;
        @media (max-width: 2560px) {
            max-width: 253.51px;
            max-height: 36px;
        }
    }
    &__h2 {
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        line-height: 127.6%;
        letter-spacing: -0.02em;
        color: #ffffff;
        margin-bottom: 67px;
        @media (max-width: 2560px) {
            font-size: 24px;
            margin-bottom: 45px;
        }
    }
    &__ul {
        display: flex;
        gap: 33px;
        margin-bottom: 67px;
        @media (max-width: 2560px) {
            margin-bottom: 45px;
        }
    }
    &__li {
        font-family: Arial;
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 127.6%;
        letter-spacing: -0.02em;
        color: #ffffff;
        @media (max-width: 2560px) {
            font-size: 22px;
        }
    }
    &__p {
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 41px;
        line-height: 127.6%;
        letter-spacing: -0.02em;
        color: #ffffff;
        @media (max-width: 2560px) {
            font-size: 28px;
        }
    }
    &__p1 {
        margin-bottom: 67px;
        @media (max-width: 2560px) {
            margin-bottom: 40px;

        }
    }
}
