.howworks {
    display: flex;
    justify-content: center;
    margin-bottom: 118px;
    &__container {
        max-width: 3837px;
        flex: 0 1 100%;
    }
    &__container-body {
        padding-top: 318px;
        padding-bottom: 93px;
        display: flex;
        flex: 0 1 100%;
        padding-left: 165px;
        position: relative;
        &::before {
            content: url("./imgs/howworks/women.png");
            height: 100%;
            position: absolute;
            right: 0;
            bottom: -21px;
        }
    }

    &__body {
        display: flex;
        max-width: 1655px;
        flex: 0 1 100%;
        flex-direction: column;
    }
    &__h2 {
        font-family: "Oswald";
        font-style: normal;
        font-weight: bold;
        font-size: 178px;
        letter-spacing: 0.01em;
        text-transform: uppercase;
        margin-bottom: 81px;
        span {
            color: red;
        }
    }
    &__li {
        position: relative;
        padding-left: 279px;
        margin-bottom: 126px;

        p {
            max-width: 1178px;
            font-family: Arial;
            font-style: normal;
            font-weight: normal;
            font-size: 52px;
            letter-spacing: -0.01em;
            color: #1d4f86;
        }
        &::before {
            position: "";
            position: absolute;
            height: 100%;
            left: 0;
            top: 0;
            width: 100%;
            content: url("./imgs/howworks/icon.png");
        }
    }
    &__h3 {
        font-family: Arial;
        font-style: normal;
        font-weight: bold;
        font-size: 60px;
        letter-spacing: -0.01em;
        color: #1d4f86;
        margin-bottom: 20px;
    }
    &__p {
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 78px;
        letter-spacing: -0.01em;
        color: #1d4f86;
        line-height: 127.6%;
        max-width: 1655px;

        &:nth-child(2) {
            margin-bottom: 118px;

        }

    }
    &__foot {
        background: #6dcff6;
        flex: 0 1 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
}
.foot {
    padding: 104px 0px 127px 0;

    &__p {
        padding-left: 165px;
        font-family: "Roboto Condensed";
        font-style: normal;
        font-weight: bold;
        font-size: 110px;
        line-height: 105.6%;
        /* or 116px */
        letter-spacing: 0.01em;
        color: #ffffff;
        max-width: 2638px;
    }
    &__a {
        margin-left: 51px;
        display: block;
        width: 729px;
        height: 143px;
        background: #ff1a0d;
        border-radius: 4px;
        font-family: "Oswald";
        font-style: normal;
        font-weight: bold;
        font-size: 70px;
        letter-spacing: 0.01em;
        color: #ffffff;
        padding: 27px 121px;
        line-height: 127.6%;
    }
}
